.header {
  min-height: 66px;
  position: relative;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 100%;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    padding: 0;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }

  @media (min-width: $vp-1024) {
    max-width: 1440px;
    margin-top: 54px;
  }
}

.header__logo {
  z-index: 1;
  width: calc(50% + 34px);
  margin-left: 6%;

  @media (min-width: $vp-768) {
    width: 174px;
    margin-left: 30px;
  }

  @media (min-width: $vp-1024) {
    width: 202px;
    margin-left: calc(8% - 4px);
    margin-right: auto;
  }
}

.header__nav {
  display: flex;

  @media (min-width: $vp-768) {
    min-width: 440px;
    margin-left: auto;
    margin-right: 30px;
  }

  @media (min-width: $vp-1024) {
    width: calc(40% - 99px);
    margin-right: calc(8% - 4px);
  }
}
