.header {
  min-height: 66px;
  position: relative;
  padding-top: 12px;
  display: flex;
  flex-wrap: wrap;
  min-width: 88%;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    padding: 0;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }

  @media (min-width: $vp-1440) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.header__logo {
  z-index: 1;
  width: calc(50% + 52px);

  @media (min-width: $vp-768) {
    width: 174px;
  }

  @media (min-width: $vp-1440) {
    width: 202px;
  }
}

.header__nav {
  display: flex;

  @media (min-width: $vp-768) {
    min-width: 440px;
    margin-left: auto;
  }
}
