.main {
  display: flex;
  flex-direction: column;
}

.main__programs {
  display: flex;
  flex-direction: column;
}

.main__treatment-process {
  display: flex;
  flex-direction: column;
}

.main__example {
  display: flex;
  flex-direction: column;
}

.main__location {
  display: flex;
  flex-direction: column;
}