.nav {
  min-height: 56px;
}

.nav--closed .site-list__item {
  display: none;

  @media (min-width: $vp-768) {
    display: flex;
  }

  @media (min-width: $vp-1440) {
    display: flex;
  }
}

.nav__toggle {
  display: block;
  margin-top: 27px;
  margin-right: 20px;
  position: absolute;
  cursor: pointer;
  border: none;
  top: 0;
  right: 0;
  left: auto;
  background-repeat: no-repeat;
  background-color: inherit;
  width: 24px;
  height: 24px;
  padding: 0;
  z-index: 3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    border: none;
    outline: 2px solid rgb(181, 181, 181);
    outline-offset: 2px;
    background-color: transparent;
  }

  &:invalid {
    opacity: 0.1;
  }

  @media (min-width: $vp-768) {
    display: none;
  }

  @media (min-width: $vp-1440) {
    display: none;
  }
}

.nav--closed .nav__toggle {
  background-image: url(../img/toggle-open-button.svg);
  background-position: 0 0;
}

.nav--opened .nav__toggle {
  background-image: url(../img/toggle-close-button.svg);
}

.nav--nojs .nav__toggle {
  display: none;
}

.nav--nojs .site-list {
  position: static;
}

.nav__wrapper {
  display: flex;

  @media (min-width: $vp-768) {
    margin-right: 30px;
  }

  @media (min-width: $vp-1440) {
    margin-right: 110px;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
