.products-catalog__title {
  margin: 0;
  font-family: $ff-oswald;
  font-size: 34px;
  line-height: 36px;
  width: 100%;
  padding: 27px 20px 41px 20px;
  border-bottom: 1px solid $color-whisper-grey-2;

  @media (min-width: $vp-768) {
    font-size: 56px;
    line-height: 60px;
    padding: 0 30px;
    margin-bottom: 90px;
    margin-top: 54px;
    border: none;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 85px;
    margin-top: 70px;
    padding: 0;
  }
}

.products-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $vp-768) {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 4%));
    column-gap: 8%;
    row-gap: 68px;
    margin: 0 30px;
  }

  @media (min-width: $vp-1024) {
    grid-template-columns: repeat(4, 20.10%);
    column-gap: 6.5%;
    row-gap: 63px;
    margin: 0;
  }
}

.products-catalog__item {
  padding: 19px 20px 25px 20px;
  border-bottom: 1px solid $color-whisper-grey-2;

  &--extra {
    padding-top: 25px;
  }

  @media (min-width: $vp-768) {
    padding: 161px 37px 39px 39px;
    margin-top: 73px;
    min-width: 324px;
    border: none;

    &--extra {
      padding-top: 157px;
    }
  }

  @media (min-width: $vp-1024) {
    padding: 162px 15% 40px 16%;
    margin-top: 80px;
    min-width: 100%;

    &--extra {
      padding-top: 160px;
    }
  }
}
