.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: $ff-titles;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: $color-white;
  border: none;
  background-color: $color-basic-green;
  outline: transparent;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: $color-basic-green-2;
}

.button:active {
  background-color: $color-basic-green-2;
  color: rgb(255, 255, 255, 0.3);
}

.button:focus-visible {
  outline: 2px solid $color-special-dark-grey;
  background-color: $color-basic-green;
}

.button:invalid {
  background-color: $color-special-grey;
}
