html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: $mobile-width;
  min-height: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: $ff-main;
  color: $color-black;

  background-color: $color-white;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
