// Colors
// -------------------

$color-black: #000000;
$color-white: #FFFFFF;
$color-white-smoke: #F2F2F2;
$color-apple: #68B738;
$color-limeade: #5EAA2F;
$color-whisper-grey-2: #EBEBEB;
$color-very-light-grey: #CDCDCD;
$color-whisper-grey: #E6E6E6;
$color-dim-grey: #666666;
$color-charcoal-grey: #444444;
$color-nero-black-grey: #222222;
$color-light-coral-error: #FF8282;

// Viewports
// -------------------

$vp-320: 320px;
$vp-768: 768px;
$vp-1440: 1440px;

// Typography
// -------------------

$ff-lato: "Lato", "Arial", sans-serif;
$ff-oswald: "Oswald", "Arial", sans-serif;
