// Colors
// -------------------

$color-black: #000000;
$color-white: #ffffff;
$color-white-smoke: #f2f2f2;
$color-apple: #68b738;
$color-limeade: #5eaa2f;
$color-whisper-grey-2: #ebebeb;
$color-whisper-grey-3: #eaeaea;
$color-whisper-grey-4: #e7e7e7;
$color-light-grey: #d3d3d3;
$color-very-light-grey: #cdcdcd;
$color-silver-grey: #bababa;
$color-whisper-grey: #e6e6e6;
$color-gainsboro-grey: #d9d9d9;
$color-dim-grey: #666666;
$color-charcoal-grey: #444444;
$color-nero-black-grey: #222222;
$color-black-2: #111111;
$color-light-coral-error: #ff8282;

// Viewports
// -------------------

$vp-320: 320px;
$vp-768: 768px;
$vp-1024: 1024px;

// Typography
// -------------------

$ff-lato: "Lato", "Arial", sans-serif;
$ff-oswald: "Oswald", "Arial", sans-serif;
